<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SafeRun"
        tools:targetApi="31">
        <!-- Run Session activities -->
        <activity
            android:name=".ui.coach.RunSessionDetailActivity"
            android:exported="false" />
        <!-- New activities for team request functionality -->
        <activity
            android:name=".ui.coach.AddAthletesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.athlete.AthleteTeamRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.coach.AthleteListActivity"
            android:exported="false" />
        <!-- Original activities -->
        <activity
            android:name=".ui.common.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.common.adapters.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.SafeRun" />
        <activity
            android:name=".ui.coach.LiveSessionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.coach.AthleteDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.coach.CreateSessionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.coach.CoachDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.athlete.RunDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.athlete.AthleteDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.coach.AthleteMonitoringActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>